BODY {
    background-color: #002;

    color: #5460a5;
}

DIV {
    font-size: 16px;
}

.clean-padding {
    padding: 0;
}

.class-name {
    color: #6a6e8c;
}

.class-cat {
    color: #5cb85c;
    display: table;
}

.margin-top {
    margin-top: 50px
}

.margin-top .class-cat {
    color: #51b813;
    display: table;
}

.margin-top .class-cat-syt {
    color: #517178;
    display: table;
}

.bowl { margin-right: 4px; color: #5cb85c }

.cat-description {
    color: #adadad;
    padding: 2px 4px;
    border: 1px solid #adadad;
}