<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
</head>
<body>

    <div class="container" id="app">

        <div class="row">
            <div class="col-md-12 text-center">
                {% verbatim vue %}
                <h1>{{ hello }}</h1>
                <span class="class-name"> Your name is {{ name }}</span>
                {% endverbatim vue %}
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-7 clean-padding">
                        <cat class="class-cat"
                             v-for="cat in sharedState.cats"


                             v-if="!cat.syt"
                             :name="cat.catName"
                             :description="cat.description"
                             :cat="cat"
                        >
                        </cat>
                        <button class="btn btn-primary btn-sm" @click="feedCat">Feed</button>
                    </div>
                    <div class="col-xs-5" v-show="sharedState.age">
                        {% verbatim age %}
                        <span>Age:{{sharedState.age}}</span>
                        {% endverbatim age %}
                    </div>

                </div>

            </div>


            <div class="col-xs-6">
                {% verbatim description %}
                <span class='cat-description'>About: {{ sharedState.description }}</span>
                {% endverbatim description %}
            </div>

        </div>

        <div class="row margin-top">
            <cat
                    v-for="cat in sharedState.cats"

                    :class="{ 'class-cat-syt': cat.syt, 'class-cat': !cat.syt }"
                    :name="cat.catName"
                    :description="cat.description"
                    :cat="cat"
            >
            </cat>
        </div>

        {% verbatim catsInfo %}
        <div class="row margin-top">
            Количество котов, которых нужно покормить: {{ catsObject.count }}<br />
            На миску приходится {{ bowlValue }} кота<br />
            <span>Мисок потребуется {{ catsObject.bowls }}</span>
        </div>
        {% endverbatim catsInfo %}

        <div class="row">
            <bowl></bowl>
        </div>

        <div class="row margin-top select-cat">

                <span>
                    Кот-счастливчик, который получит вкусный бонус
                </span>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <select-cat></select-cat>
            </div>
        </div>

        <div class="row margin-top">

            <div class="table-responsive">
                <table class="table cat-table">
                    <thead>
                        <tr>
                            <td>Cat id</td>
                            <td>Cat name</td>
                            <td class="delete-button-td"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="table-tr-component" :cat="cat" :index="index" v-for='(cat, index) in sharedState.pushedCats'></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- STYLESHEETS -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
           integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
           crossorigin="anonymous">
    <link rel="stylesheet" href="browser/css/main.css">

    <!-- JAVASCRIPT Vendor -->

    <script src="https://unpkg.com/vue"></script>

    <!-- JAVASCRIPT Core -->
    <script src="browser/js/index.js"></script>
    <!--<script src="array.js"></script>-->
</body>
</html>